@model UCR.WEB.Blog.ViewModels.LoginVM;

<div class="col-10 col-md-6 col-lg-4 mt-5 container ">
    <div class="text-center mb-4">
        <p class="text-muted">Bienvenido de nuevo, ingresa tus datos para continuar</p>
    </div>

    <form asp-controller="Account" asp-action="Login" method="post">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Correo electronico" asp-for="Email" required
                aria-describedby="email-icon">
        </div>

        <div class="input-group mb-4">
            <input type="password" class="form-control" placeholder="Contraseña" asp-for="Password" required
                aria-describedby="password-icon">
        </div>

        <div class="d-grid gap-2 mb-3">
            <button type="submit" class="btn btn-primary btn-lg">Iniciar Sesión</button>
        </div>
        <div class="text-center">
            <a href="/Account/Login" class="text-decoration-none">¿Olvidaste tu contraseña?</a>
        </div>
        @if (ViewData["Error"] != null)
        {
            <div id="errorAlert" class="alert alert-danger position-fixed top-5 end-0 m-3" role="alert"
                style="top: 250px; right: 40px; z-index: 1000;">
                @ViewData["Error"]
            </div>

            <script>
                setTimeout(function () {
                    const alert = document.getElementById('errorAlert');
                    if (alert) {
                        alert.style.transition = 'opacity 0.5s';
                        alert.style.opacity = '0';
                        setTimeout(() => alert.remove(), 500);
                    }
                }, 2000); 
            </script>
        }

    </form>
    <hr class="w-50 mx-auto border-secondary">

    <div class="text-center ">
        <p class="text-muted">¿No tienes cuenta?</p>
        <a href="/Account/Register" class="btn btn-outline-primary">Registrese aquí</a>
    </div>

</div>
